.title {
  color: #fff;
  text-align: center;
}

.submitButton{
  margin-top: 20px;
  margin-bottom: 10% !important;
}

.textfield {
  padding-bottom: 2vh;
}


.registrationForm {
background-color: #b2dfdb;
box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
max-width:  500px;
display: block;
margin: 0 auto;
margin-bottom: 10%;
}

.MuiOutlinedInput-input{
  background-color: #fff !important;
  border-radius: 4px;
}

.css-16awh2u-MuiAutocomplete-root .MuiOutlinedInput-root{
  background-color: #fff;
}

.css-i4bv87-MuiSvgIcon-root{
  color: "#000000" !important;
}

.css-mbhbfv-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #000000 !important;
}