.css-1ov0oqu-MuiGrid-root > .MuiGrid-item {
  text-align: left;
}

.button {
   padding-bottom: 2vh;
   padding-top: 0.5vh;
}

.buttonStyle {
    width: 100%;
}


.quantity-input {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 3px;
  width: 20%;
}

.quantity-input__modifier,
.quantity-input__screen {
  user-select: none;
  outline: none;
}

.quantity-input__modifier {
  padding: .7rem;
  width: 3rem;
  font-size: 1.5rem;
  margin: 3px;
  
  background: #f3f3f3;
  color: #888;
  border: 0 solid #dbdbdb;
  text-align: center;
  text-shadow: 0 1px 0 rgba(#fff, .6);
  
  cursor: pointer;
}

.quantity-input__screen {
  width: 4rem;
  padding: .7rem;
  font-size: 1.5rem;
  
  border: 0;
  border-top: 0 solid #dbdbdb;
  border-bottom: 0 solid #dbdbdb;
  text-align: center;
}